{% extends "Homepage.html" %} {% load static %} {% block content %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container">
      <br />
      <div class="form-group row" style="align-content: center;">
        <label class="col-sm-1 col-form-label"></label>
        <div class="col-md-6" style="padding-left: 370px;">
          <h1><span>Video Upload</span></h1>
        </div>
      </div>

      <div class="input pb-3" style="padding-left: 400px;">
        <input type="text" placeholder="Title" name="title" required />
      </div>
      <div class="input pb-3" style="padding-left: 400px; padding-top: 10px;">
        <input type="file" placeholder="Video" name="video" required />
      </div>
      
      </div>
      <div class="form-group row">
        <div
          class="col-sm-4 pt-3"
          style="padding-left: 480px; padding-top: 10px;"
        >
          <button type="submit" class="btn btn-primary">Upload</button>
        </div>
      </div>
    </div>
  </form>

{% endblock %}
